#container {
    nav-right: auto;
}

.MoverIzquierda{
    padding-left: 10px;
}

#back{
        background-color: rgb(14, 27, 29);
        color: rgb(255, 255, 255);
        text-decoration: none;
}

footer{
    padding-bottom: 20px;
}

h1{
    color: rgb(14, 27, 29);
    padding-top: 60px;
    font-style: oblique;
}

p{
    color: rgb(14, 27, 29);
    padding-top: 10px;
    font-size: 17px;
        padding-left: 10px;
}

#link{
    text-decoration: wavy;
    color: white;
}

main{
    background-color: rgb(153, 228, 190);

}


#logo{
    padding-top: 50px;
    padding-bottom: 70px;
}

#carousel-item{
    transition: transform 10s ease, opacity .10s ease-out
}